@font-face {
  font-family: "WilliamCostinavel";
  src: url("WilliamCostinavel.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: url("OpenSans.ttf") format("truetype");
}

@font-face {
  font-family: "NotoSerif";
  src: url("NotoSerif.ttf") format("truetype");
}

:root {
  --prim-gold: #efd08c;
  --prim-dark-blue: #173153;
  --sec-sand: #e8dec8;
  --sec-light-blue: #b5eeff;
  --sec-sky-blue: #3894cc;
  --basic-black: #1a1e22;
  --basic-white: #ffffff;
}

html {
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  margin: 0;
}

.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav__menu > div {
  padding: 0;
  padding-top: 1rem;
  margin: 0 1.5rem 1rem;
}

.menu__item {
  list-style: none;
  color: #ffffff;
}

.menu__link {
  color: #ffffff;
  text-decoration: none;
}

.text--decorative {
  font-family: "WilliamCostinavel", sans-serif;
  font-size: 1.5rem;
  margin-block: 0 3rem;
}

.menu__link:hover,
.chosen,
.chosen--email:hover {
  color: var(--prim-gold);
}

.header--short .chosen,
.section__path-link:hover,
.chosen--email {
  color: var(--sec-sky-blue);
}

.header {
  height: 10rem;
  margin: 0 auto;
}

.header--blue-gradient::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 31.25rem; /* 500px */
  background-image: linear-gradient(to top, #17315300, #173153);
  background-repeat: no-repeat;
  background-size: 100% 31.25rem; /* 500px */
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: -1;
}

.header--short::before,
.header--short::after {
  top: -12.5rem; /* 200px */
}

.text--absolute {
  top: 10rem;
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

h2,
h3,
h4,
h5,
h6,
.heading--h2,
.heading--h3 {
  font-family: "NotoSerif", serif;
  font-weight: 400;
}

.lg-sub-html {
  font-family: "NotoSerif", serif !important;
  font-weight: 400 !important;
}

.lg-counter {
  font-family: "OpenSans", sans-serif !important;
  padding-left: 1.5rem !important;
  padding-top: 1.5rem !important;
}

h3,
.heading--h3 {
  font-size: 1.5rem;
}

h2,
.heading--h2 {
  font-size: 2rem;
}

.heading--h1 {
  font-family: "WilliamCostinavel", sans-serif;
  font-weight: 400;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 1.5rem;
  margin: 0;
  text-transform: lowercase;
  color: #ffffff;
  font-size: 1.2rem;
  animation: 1s ease-out heading forwards;
  display: flex;
  flex-direction: column;
}

@keyframes heading {
  from {
    opacity: 0;
    transform: translate(-50%, -6.25rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

h2,
.heading--h2 {
  margin-block: 1.5rem;
}

.heading--h2 {
  color: var(--basic-black);
}

.heading--vymena {
  content: url(logo.svg);
  width: 8rem;
}

.text--hidden,
.heading--hidden {
  display: block;
  font-size: 0;
  margin: 0;
}

header::after {
  content: url(ellipse.svg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -3;
  pointer-events: none;
}

header::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  background-image: url(gradients.webp);
  background-repeat: no-repeat;
  margin: 0 auto;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

footer {
  position: relative;
  padding: 3rem;
}

footer::after {
  content: "";
  display: block;
  height: 114vh;
  width: 100%;
  background-image: url("gradients-bottom.webp");
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.lg-thumb-outer::after {
  content: "";
  display: block;
  height: 114vh;
  width: 100%;
  background-image: url("gradients-bottom.webp");
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.swiper-slide p,
.swiper-slide h3 {
  margin-inline: 3rem;
}

.video-background {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.youtube-video {
  border: none;
}

.photo-background {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section--pozadi {
  position: relative;
  color: var(--basic-white);
  transition: 0.25s ease;
}

.section--pozadi .heading--h2 {
  color: var(--basic-white);
}

.section {
  padding: 3rem;
}

.section--full-width {
  padding: 0;
}

.section__dlazdice {
  padding: 0;
  background-color: var(--basic-white);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "item1"
    "item2"
    "item3"
    "item4"
    "item9"
    "item6"
    "item7"
    "item8"
    "item5";
}

.section__dlazdice--3 {
  grid-gap: 3rem;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
    "item1"
    "item2"
    "item3";
  padding: 3rem;
}

.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
}
.item6 {
  grid-area: item6;
}
.item7 {
  grid-area: item7;
}
.item8 {
  grid-area: item8;
}
.item9 {
  grid-area: item9;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.article__figure img {
  object-fit: contain;
}

p {
  max-width: 75ch; /* Originally 1000px */
  margin-inline: auto;
}

.figure__box p {
  margin: 0;
}

figure {
  margin: 0;
}

.img--dlazdice {
  object-fit: contain;
  transition: 0.5s;
  aspect-ratio: 1;
}

.section--logo {
  display: grid;
  grid-gap: 1rem 2rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
}

.section--logo img {
  object-fit: contain;
}

.section--logo figure img {
  transition: 0.5s;
}

.section--logo figure:hover img {
  transform: scale(1.2);
  transition: 0.5s;
}

.section--contact-us > p {
  padding: 0 3rem 2.5rem;
  z-index: 10;
}

.section--contact-us h2 {
  padding-top: 3rem;
  padding-inline: 3rem;
}

.button {
  text-decoration: none;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
  transition: 0.25s ease;
  background-color: transparent;
  font-size: 1rem;
}

.button-box {
  margin-block: 4rem 2rem;
}

figcaption .button-box {
  margin-block: 3rem 2rem;
}

.button-box:has(button) {
  margin-block: 0;
}

.button-box .button:hover {
  position: relative;
  background: var(--basic-white);
  color: black;
  mix-blend-mode: screen;
  border: none;
  border: 2px solid var(--basic-white);
  transition: 0.25s ease;
}

.button-box .button:hover:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  border-radius: 2em;
  content: "";
  mix-blend-mode: color-burn;
  transition: 0.25s ease;
}

.box--text:hover img {
  transform: scale(1.25);
}

.item5 .box--text:hover img {
  transform: scale(1);
}

.box--text img {
  display: block;
  width: 100%;
  height: auto;
}

.box--text {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.box--text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.box--text:hover:before,
.item5 .box--text:before {
  background-color: var(--sec-sky-blue);
  opacity: 0.5;
}

.box--text.thumbnail__link:hover:before,
.item5 .box--text.thumbnail__link:before {
  background-color: transparent;
}

figcaption {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-inline: 1em;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  color: var(--basic-white);
  opacity: 0;
  user-select: none;
  box-sizing: border-box;
}

.thumbnail figcaption {
  pointer-events: none;
}

.box--text:hover figcaption,
.item5 .box--text figcaption {
  opacity: 1;
  transition: 1s 0.25s;
}

.img-heading {
  font-family: "NotoSerif", serif;
  margin-block: 1rem 1rem;
  margin-top: 0;
  padding-inline: 0;
  font-size: clamp(0.8rem, 9.5cqw, 2rem);
}

.subheading {
  font-family: "OpenSans", sans-serif;
  text-transform: uppercase;
  font-size: clamp(calc(0.8rem / (9.5 / 6)), 6cqw, calc(2rem / (9.5 / 6)));
}

figure:has(.box--text),
.box--square:has(.box--text) {
  overflow: hidden;
}

.menu--upper {
  padding-inline: 1.5rem;
  display: flex;
  gap: 2rem;
  margin-top: 1.25rem;
  justify-content: center;
}

.section--offer article {
  display: flex;
  align-items: start;
  align-items: center;
  gap: 4rem;
}

article div {
  text-align: left;
}

.article__figure {
  width: 40vw;
  aspect-ratio: 1;
  margin-inline: -2rem;
  flex-shrink: 0;
}

article h2 {
  margin-top: 0;
}

.section--offer {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  align-items: center;
}

.section--offer .section__article > a {
  margin-inline: -2rem;
  margin-top: 1rem;
}

.section--inspiration {
  padding-block: 0;
  padding-bottom: 1rem;
}

.fade {
  animation: 5s ease-out fade forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.text-box__list {
  padding-left: calc(1rem + 0.45rem / 4);
}

li::marker {
  color: var(--prim-gold);
}

.section--gdpr {
  max-width: 75ch; /* Originally 1000px */
  margin-inline: auto;
  padding-block: 0;
  padding-bottom: 2rem;
}

.section--gdpr:last-of-type {
  padding-bottom: 3rem;
}

.section--gdpr p,
.section--gdpr li {
  margin-inline: 0;
  text-align: left;
}

p + .box-duvody {
  margin-block: 2rem;
}

.text--absolute .heading--h2 {
  color: var(--basic-white);
}

.scroll {
  position: absolute;
  left: 50%;
  bottom: 6vh;
  opacity: 0;
  z-index: 1;
  transform: translateX(-50%);
  animation: scrollPulse 2s 2s ease-in-out infinite;
}

.scroll img {
  position: relative;
  height: auto;
  animation: scrollPulse 2s 2s ease-in-out infinite;
  width: 2.5rem; /* 40px */
}

@keyframes scrollPulse {
  0% {
    bottom: 6vh;
    opacity: 0;
  }
  50% {
    bottom: 1.5rem;
    opacity: 1;
  }
  100% {
    bottom: 6vh;
    opacity: 0;
  }
}

.scroll:hover,
.scroll:hover img {
  animation-play-state: paused;
  cursor: pointer;
}

.hidden-scroll {
  display: none;
}

.heading--margin-bottom {
  margin-bottom: 0.5rem;
}

.text-box p {
  margin-inline: 0;
}

.text--block {
  display: block;
}

.section--interest__text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-box {
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.article-box--padding {
  padding-top: 2rem;
}

.footer-container {
  font-size: 0.875rem;
}

.section--interest__text-box h2 {
  font-size: 1.5rem;
  text-align: left;
  max-width: 26.25rem; /* 420px */
}

.section--interest__text-box .button-box {
  margin-top: 2rem;
}

.sound-icon {
  position: absolute;
  color: white;
  padding: 1rem;
  cursor: pointer;
  top: auto;
  bottom: 0.5rem;
  right: 0.5rem;
}

.box--text:has(.button-box .button:hover) figcaption,
.box--text:has(.button-box .button:hover) .button-box {
  mix-blend-mode: screen;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.icon-box {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.icon-box > a {
  width: 2rem;
  height: 2rem;
  display: inline-block;
}

[class*="icon-box__icon--"]::before {
  display: block;
  content: "";
  width: 80%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
}

.icon-box__icon--phone::before {
  background-image: url(svg-icons/icon_phone.svg);
}

.icon-box__icon--phone:hover::before {
  background-image: url(svg-icons/icon_phone-hover.svg);
}

.icon-box__icon--email::before {
  background-image: url(svg-icons/icon_email.svg);
}

.icon-box__icon--email:hover::before {
  background-image: url(svg-icons/icon_email-hover.svg);
}

.icon-box__icon--instagram::before {
  background-image: url(svg-icons/icon_instagram.svg);
}

.icon-box__icon--instagram:hover::before {
  background-image: url(svg-icons/icon_instagram-hover.svg);
}

.icon-box__icon--facebook::before {
  background-image: url(svg-icons/icon_facebook.svg);
}

.icon-box__icon--facebook:hover::before {
  background-image: url(svg-icons/icon_facebook-hover.svg);
}

.icon-box__icon--linkedin::before {
  background-image: url(svg-icons/icon_linkedin.svg);
}

.icon-box__icon--linkedin:hover::before {
  background-image: url(svg-icons/icon_linkedin-hover.svg);
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-box > div {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
}

.footer-container__link--maker {
  text-align: center;
  margin-top: 4rem;
}

.footer-container__text,
.footer-container__link {
  display: flex;
  justify-content: center;
  font-size: var(--font-size-text-4);
}

.footer-container__text {
  margin-inline: -1rem;
}

.footer-container__link:hover {
  color: var(--prim-gold);
}

.footer-container__link,
.footer-container__text {
  color: var(--basic-white);
}

.section--contact figure {
  position: relative;
  overflow: hidden;
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding-top: 21rem;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.section--contact img {
  mix-blend-mode: darken;
  margin: 0 auto;
  margin-right: -0.5rem;
}

.section--contact article {
  width: 10rem; /* 160px */
}

.section--contact .article-box {
  gap: 0;
  margin-top: 4rem;
}

.section--contact > p {
  padding-inline: 3rem;
}

.section--contact figure:has(.padding-adjusted) {
  padding-top: 24rem;
  transition: 1s;
}

.hide {
  display: none;
}

.section--form .container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.section--form > div {
  max-width: 42.5rem; /* 680px */
  margin: 0 auto;
}

form textarea {
  width: 100%;
  height: 9.375rem; /* 150px */
  margin: 0 0 1.25rem 0; /* 20px */
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: var(--basic-white);
  border: 0;
  resize: none;
}

form input {
  width: 100%;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: var(--basic-white);
  border: 0;
}

.container > div {
  width: 50%;
}

form input[type="checkbox"] {
  width: auto;
  margin: 0 0.5rem 0 0;
}

.figure__box {
  position: absolute;
  max-width: 12.5rem; /* 200px */
}

.grow {
  overflow: hidden;
  flex-grow: 1;
}

.grow--hidden {
  overflow: auto;
  flex-grow: 0;
}

.rozbalovatko {
  color: var(--sec-sky-blue);
  font-size: 0.875rem;
  text-transform: lowercase;
}

.text-box__picture-box {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr)); /* 120px */
}

.text-box__text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-box__picture-box.hidden {
  display: none; /* Hide when .hidden class is added */
}

.text-box__text.line-unset {
  -webkit-line-clamp: unset; /* Remove line clamp */
}

.text-box__text--hidden {
  display: none;
}

.text-box__text--show {
  display: block;
}

.text-box__button-box {
  margin-block: 3rem 1rem;
  position: relative;
  z-index: 0;
}

.text-box__button-box > .button {
  color: var(--prim-dark-blue);
  border: 2px solid var(--prim-dark-blue);
}

.text-box__button-box > .button:hover {
  color: var(--basic-white);
  border: 2px solid var(--prim-dark-blue);
  background-color: var(--prim-dark-blue);
}

.section--position-relative {
  position: relative;
}

.swiper {
  padding: 0rem;
  z-index: -4;
  margin-inline: -3rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
}

.swiper-container {
  position: relative;
}

.space-for-animation {
  padding-bottom: 3rem;
}

.section--technologie {
  padding-bottom: 0;
  padding-inline: 0;
  margin-bottom: -3rem;
}

.swiper-container__inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.swiper-pagination {
  text-align: center;
  margin-top: 1rem;
  width: 100%;
  bottom: auto !important;
}

.swiper-slide {
  background-position: center center;
  background-size: cover;
  text-align: center;
  font-size: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.swiper-slide > a {
  height: 100%;
  width: 100%;
}

.video-container {
  max-width: 100%;
  aspect-ratio: 16 / 9; /* Poměr stran 16:9 */
  max-height: calc(100vh - 8rem); /* Maximální výška */
  overflow: hidden;
  margin: 0 auto;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.box--left {
  text-align: left;
}

.box--left label {
  font-size: 0.8rem;
}

.box--left input,
.box--left textarea {
  margin-top: 0.25rem;
  font-size: 1rem;
}

.checkbox {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.section__path-link span {
  position: relative;
  height: 2rem;
  margin-left: -0.35rem;
  left: auto;
}

.section__path-link--icon-home span {
  margin-left: 0;
}

li:has(.section__path-link--icon-home)::before {
  content: none; /* content: url(svg-icons/icon_home.svg); */
  display: inline-block;
  vertical-align: middle;
  margin-top: -0.25rem;
}

li:has(.section__path-link--icon-home) {
  list-style-type: none;
}

li:has(.section__path-link--divider-dot) {
  position: relative;
}

.text--absolute .heading--h2,
.text--absolute p {
  padding-inline: 3rem;
}

.postion--relative {
  position: relative;
}

.section--form .heading--h2 {
  margin-bottom: 3rem;
}

.box--kontakt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.box--kontakt a,
.box--misto a {
  width: min-content;
}

.box--kontakt a:hover,
.box--misto a:hover {
  color: var(--sec-sky-blue);
}

.container--adresa {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.nav__menu > div:last-child {
  margin-right: 0;
}

.mapa {
  position: relative;
  margin: 0 auto;
}

.section--trophy .text-box__button-box {
  margin-block: 1rem 1rem !important;
}

.tooltip {
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  bottom: -4rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 1s, visibility 1s;
  transition-delay: 0.5s;
  cursor: pointer;
}

.tooltip a {
  color: var(--sec-sky-blue);
  display: block;
  margin-bottom: 0.25em;
  text-decoration: none;
  transition: color 0.5s;
}

.tooltip a:hover {
  color: var(--prim-gold);
}

.tooltip:hover .tooltiptext,
.tooltip:focus-within .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.section--trophy {
  display: flex;
  padding: 0 3rem;
  gap: 3rem;
  padding-right: 0;
  text-align: left;
  flex-direction: column;
}

.section--trophy__text-box div > div {
  margin-bottom: 1.5rem;
}

.section--trophy__text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
  margin-right: 3rem;
}

.section--trophy .heading--h2 {
  margin-block: 0 0.5rem;
}

.section--trophy .heading--h2 + .subheading {
  font-size: 1.125rem;
  line-height: normal;
}

.section--trophy__picture-box .sound-icon {
  top: 0.5rem;
  right: 0.5rem;
  bottom: auto;
}

.section--trophy__picture-box {
  box-sizing: border-box;
  height: auto;
  position: relative;
  margin-top: 0;
}

.section__path-box {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  margin-top: 2.25rem;
  margin-bottom: 1.5rem;
  font-size: 0.75rem;
  padding-left: 0;
  margin-inline: 0;
  flex-direction: column;
  list-style-position: inside;
}

.main--flex {
  display: flex;
  flex-direction: column;
  gap: 0;
  position: static;
}

.section--trophy .chosen {
  color: var(--sec-sky-blue);
}

.section--trophy__picture-box video {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.box--video::after {
  content: url(svg-icons/play.svg);
  background-image: url(svg-icons/play.svg);
  user-select: none;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 1.5rem;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 0.5s;
}

.box--video:hover::after {
  opacity: 0;
  transition: opacity 0.5s;
}

/* Modifying LightGallery styles */

.lg-outer .lg-thumb-item.active,
.lg-outer .lg-thumb-item:hover {
  border-color: var(--prim-gold) !important;
}

.lg-backdrop {
  background-color: var(--basic-white) !important;
}

.lg-outer .lg-thumb-outer {
  background-color: transparent !important;
}

.lg-toolbar .lg-icon,
.lg-counter {
  color: var(--prim-dark-blue) !important;
}

.lg-next,
.lg-prev {
  background-color: transparent !important;
  border-radius: 0 !important;
  color: var(--prim-dark-blue) !important;
}

.lg-outer .lg-thumb-item {
  border-radius: 0 !important;
  border: 2px solid transparent !important;
}

.lg-thumb-item {
  height: auto !important;
}

.lg-content {
  z-index: 999;
}

.lg-next:before {
  content: url(svg-icons/right.svg) !important;
}

.lg-prev:after {
  content: url(svg-icons/left.svg) !important;
}

.lg-thumb {
  padding-bottom: 1.5rem !important;
}

.lg-toolbar .lg-icon {
  padding: 1.5rem 0 !important;
}

.lg-toolbar {
  padding-right: 0.5rem !important;
}

.thumbnail__link {
  cursor: pointer;
}

.box--left-up,
.box--right-up,
.box--right-down,
.box--left-down {
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.box--left-up {
  top: 6rem;
}

.box--right-up {
  top: 11rem;
}

.box--right-down {
  top: 16rem;
}

.box--left-down {
  top: 1rem;
}

.menu__item--language {
  right: 1.5rem;
  top: 1.5rem;
  font-size: 0.875rem;
  position: absolute;
  margin: 0;
  padding: 0;
}

.box--square {
  aspect-ratio: 1;
  container-type: inline-size;
  container-name: thumbnails;
}

@container (min-width: 120px) {
  figcaption {
    padding: 0 0.75rem;
  }

  .img-heading {
    margin-bottom: 0;
  }

  .subheading {
    line-height: 1.2;
  }
}

@container (min-width: 145px) {
  figcaption {
    padding: 0 1rem;
  }

  .img-heading {
    margin-bottom: 1cqw;
  }
}

@container (min-width: 180px) {
  .img-heading {
    margin-bottom: 1.5cqw;
  }
}

@container (min-width: 220px) {
  figcaption {
    padding: 0 1.5rem;
  }

  .img-heading {
    margin-bottom: 2cqw;
  }
}

@media screen and (min-width: 359px) {
  .heading--vymena {
    width: 9rem; /* 144px */
  }

  .heading--h1 {
    font-size: 1.35rem;
  }
}

@media screen and (min-width: 380px) {
  .heading--vymena {
    width: 10rem; /* 160px */
  }

  .heading--h1 {
    top: 1.5rem;
  }
  .heading--h1 {
    font-size: 1.5rem;
  }
  .section--logo {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 400px) {
  .heading--h1 {
    top: 2rem;
  }
  .heading--h1 {
    font-size: 1.5rem;
  }

  .sound-icon {
    bottom: 1rem;
    right: 1rem;
    top: auto;
  }

  .section--trophy__picture-box .sound-icon {
    top: 1rem;
    right: 1rem;
  }

  .section--logo {
    padding: 0;
  }

  .menu__item--language {
    right: 2rem;
    top: 2rem;
    bottom: auto;
  }
}

@media screen and (min-width: 450px) {
  .preset-box {
    padding-inline: 4rem;
  }

  .mapa {
    width: 80%;
  }

  .section--offer .section__article > a {
    margin-inline: 0;
    margin-top: 0;
  }

  .section--inspiration {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 480px) {
  .heading--h1 {
    top: 2.5rem;
  }

  .menu__item--language {
    right: 2.5rem;
    top: 2.5rem;
  }

  .heading--h1 {
    font-size: 2rem;
  }

  .heading--vymena {
    width: calc(20rem / 3 * 2); /* 320px */
  }

  .sound-icon {
    bottom: 1.5rem;
    right: 1.5rem;
  }

  .section--trophy__picture-box .sound-icon {
    top: 1.5rem;
    right: 1.5rem;
  }

  .section--logo {
    padding: 1.5rem;
  }

  .scroll {
    bottom: 7vh;
  }

  @keyframes scrollPulse {
    0% {
      bottom: 7vh;
      opacity: 0;
    }
    50% {
      bottom: 2rem;
      opacity: 1;
    }
    100% {
      bottom: 7vh;
      opacity: 0;
    }
  }
}

@media screen and (min-width: 484px) {
  li:has(.section__path-link--icon-home)::before {
    content: none;
  }

  .section__path-box {
    font-size: 0.875rem;
  }

  .section__path-link span {
    left: 0;
  }

  .section__path-box {
    gap: 0.5rem;
  }

  .section__path-link--icon-home span {
    margin-left: 0;
  }
}

@media screen and (min-width: 524px) {
  .section__path-box {
    gap: 1rem;
  }

  .section__path-link span {
    margin-left: 0;
  }

  .scroll {
    bottom: 9vh;
  }

  @keyframes scrollPulse {
    0% {
      bottom: 9vh;
      opacity: 0;
    }
    50% {
      bottom: 2rem;
      opacity: 1;
    }
    100% {
      bottom: 9vh;
      opacity: 0;
    }
  }
}

@media screen and (min-width: 540px) {
  .heading--h1 {
    font-size: 2.25rem;
  }
  .heading--h1 {
    top: 3rem;
  }

  .heading--vymena {
    width: 15rem; /* 240px */
  }

  .sound-icon {
    bottom: 2rem;
    right: 2rem;
  }

  .section--trophy__picture-box .sound-icon {
    top: 2rem;
    right: 2rem;
  }

  .menu__item--language {
    right: 3rem;
    top: 3rem;
  }
}

@media screen and (min-width: 590px) {
  .icon-container {
    position: relative;
    flex-direction: row;
    z-index: 2;
  }

  .footer-box {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }

  .footer-container__link--maker {
    margin-top: 2rem;
  }

  .scroll {
    bottom: 10vh;
  }

  @keyframes scrollPulse {
    0% {
      bottom: 10vh;
      opacity: 0;
    }
    50% {
      bottom: 2rem;
      opacity: 1;
    }
    100% {
      bottom: 10vh;
      opacity: 0;
    }
  }
}

@media screen and (min-width: 693px) {
  .heading--h1 {
    top: 5.5rem;
  }

  .menu__item--language {
    padding-top: 1rem;
    margin: 0 1.5rem 1rem;
    margin-left: 0;
    position: static;
  }

  .heading--vymena {
    width: 20rem; /* 320px */
  }

  .heading--h1 {
    font-size: 3rem;
  }

  .header {
    height: 16rem;
  }

  .section--contact figure {
    padding-top: 19rem;
  }

  .text--absolute {
    top: 16rem;
  }
}

@media screen and (min-width: 768px) {
  .section__dlazdice {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "item1 item2"
      "item4 item3"
      "item9 item6"
      "item8 item7"
      "item5 item5";
    padding: 0;
  }

  .section__dlazdice--3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "item1 item2 item3";
    gap: 0;
    padding-bottom: 3rem;
  }

  .mapa {
    width: 60%;
  }

  .section--logo {
    grid-gap: 2rem 3rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .section--offer {
    gap: 4rem;
    padding-bottom: 1rem;
  }

  .scroll {
    bottom: 12vh;
  }

  @keyframes scrollPulse {
    0% {
      bottom: 12vh;
      opacity: 0;
    }
    50% {
      bottom: 2rem;
      opacity: 1;
    }
    100% {
      bottom: 12vh;
      opacity: 0;
    }
  }
}

@media screen and (min-width: 800px) {
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  .footer-container__link--maker {
    margin-top: 0;
  }

  .footer-container__text {
    margin: 0;
  }
}

@media screen and (min-width: 820px) {
  .section--interest__text-box {
    justify-content: center;
    gap: 7.5rem;
  }
}

@media screen and (min-width: 960px) {
  .section__dlazdice {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "item1 item2 item3"
      "item4 item5 item6"
      "item7 item8 item9";
  }
  .mapa {
    width: 45%;
  }

  .section--logo {
    grid-gap: 3rem 4rem;
    padding: 3rem;
  }
}

@media only screen and (min-width: 1040px) {
  .heading--h1 {
    font-size: 2.25rem;
  }

  .heading--vymena {
    width: 15rem; /* 240px */
  }

  .heading--h1 {
    top: 2rem;
  }

  .header {
    height: 10rem;
  }

  .menu--upper {
    justify-content: flex-start;
  }

  .nav__menu {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1057px) {
  .section--trophy__picture-box .sound-icon {
    position: fixed;
  }

  .section--trophy__picture-box {
    height: 100vh;
    position: relative;
  }

  .section--trophy__picture-box > img,
  .section--trophy__picture-box video {
    position: fixed;
    width: auto;
  }

  .main--flex {
    gap: 3rem;
    position: relative;
    flex-direction: row;
  }

  .section--trophy__text-box {
    margin-right: 0;
  }
}

@media screen and (min-width: 1140px) {
  .heading--vymena {
    width: 20rem; /* 320px */
  }

  .heading--h1 {
    font-size: 3rem;
  }

  .heading--h1 {
    top: 2rem;
  }

  .section--logo {
    grid-template-columns: repeat(5, 1fr);
  }

  .header {
    height: 16rem;
  }

  .article__figure {
    width: 30vw;
    margin-inline-start: 0;
  }
}

@media screen and (min-width: 1170px) {
  .box--left-up,
  .box--right-up,
  .box--right-down,
  .box--left-down {
    left: auto;
    transform: translateX(0);
  }

  .box--left-down {
    left: -1rem;
    top: 15rem;
    text-align: right;
  }

  .box--left-up {
    left: 2rem;
    top: 7rem;
    text-align: right;
  }

  .box--right-down {
    right: -15rem;
    top: 15rem;
    text-align: left;
  }

  .box--right-up {
    right: -2rem;
    top: 7rem;
    text-align: left;
  }

  .section--contact-en .box--left-down {
    left: -3rem;
  }

  .section--contact-en .box--left-up {
    left: 0;
  }

  .section--contact-en .box--right-down {
    right: -9rem;
  }

  .section--contact-en .box--right-up {
    right: 2rem;
  }

  figure:has(.box--left-down) {
    padding-top: 0;
  }

  .tooltip .tooltiptext {
    left: auto;
    transform: translateX(0);
  }

  .section--contact figure {
    height: calc(75vh);
    width: max-content;
    overflow: visible;
  }

  .section--contact img {
    height: 100%;
    width: auto;
  }
}

@media only screen and (min-width: 1176px) {
  .mapa {
    width: 35%;
  }

  .section--logo {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1460px) {
  .section--offer {
    gap: 0;
  }
}

/* Additional adjustments */

@media screen and (max-width: 768px) {
  .section--contact > p {
    padding-inline: 3rem;
  }

  .section--interest__text-box h2 {
    text-align: center;
  }

  .section--interest__text-box {
    gap: 0;
    flex-direction: column;
  }

  .article-box {
    gap: 0;
    flex-direction: column;
  }

  .space-for-animation {
    padding-bottom: 1rem;
  }

  .section--inspiration {
    height: auto;
  }

  .section--offer article {
    gap: 0;
    flex-direction: column-reverse;
  }

  .article__figure {
    width: auto;
  }

  .icon-container {
    flex-direction: row;
    justify-content: center;
  }

  .swiper::after {
    height: calc((100vw - 9rem) / 2);
  }

  .section--technologie,
  .section--benefits {
    padding-bottom: 3rem;
    margin-bottom: 0;
  }

  .section:has(.video-container) {
    padding-top: 0;
  }

  .section--technologie,
  .section--benefits {
    padding-bottom: 0rem;
  }

  .section--technologie {
    padding: 0rem;
  }

  .section--contact img {
    height: auto;
    width: 100%;
  }

  .section--contact {
    padding-bottom: 0;
  }

  .section--form .container {
    flex-direction: column;
    gap: 0;
  }

  .container > div {
    width: 100%;
  }
}

@media only screen and (max-width: 1057px) {
  .section--trophy__picture-box video {
    position: static;
    width: 100%;
    display: block;
  }

  .section--trophy__picture-box {
    height: auto;
    position: relative;
  }
}

.header--pozadi {
  position: relative;
  height: 100vh;
  color: var(--basic-white);
}

.header--short {
  height: auto;
  margin: 0;
}
